@font-face {
  font-family: "productSans";
  src: url("../fonts/product_sans_regular.ttf");
}

@font-face {
  font-family: "productSans";
  src: url("../fonts/product_sans_bold.ttf");
  font-weight: bold;
}
